$grayscale: (
  1: #BFBFBF,
  2: #F2F2F2,
  3: #A6A6A6,
  4: #D9D9D9,
  5: #8C8C8C,
  6: #737373,
  7: #595959,
  8: #404040,
  9: #262626
);

$primary-blue: (
  1: #66C4FF,
  2: #99D7FF,
  3: #4DBAFF,
  4: #80CEFF,
  5: #2DAEFF,
  6: #0090EB,
  7: #007DCC,
  8: #0064A3,
  9: #00588F
);

$secondary-colors: (
  red: #FF5E5B,
  yellow: #FDCA40,
  green: #56E39F,
  blue: #003E60
);

@function gray($num) {
  @return map-get($grayscale, $num);
}

@function blue($num) {
  @return map-get($primary-blue, $num);
}

@function secondary($color) {
  @return map-get($secondary-colors, $color);
}
