.email-signup-section {
  position: relative;

  display: flex;
  justify-content: center;

  padding: space(5) space(1);

  background-blend-mode: multiply;
  background-color: secondary(red);
  background-image: url('/static/images/jonathan-borba-1339221-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.email-signup-form {
  @include container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@include breakpoint (medium) {
  .email-signup-section {
    padding: space(12) space(3);
  }
}
