.header-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding-top: space(3);

  pointer-events: none;
}

.header {
  position: fixed;
  left: 5%;

  width: 90%;

  display: flex;
  justify-content: space-around;

  text-align: center;

  margin-top: space(2);
  padding: space(1) 0;

  background-color: rgba(255, 255, 255, 0.75);
  transition: margin 150ms ease-in-out;
}

.header-navigation__link {
  color: gray(9);
  font-family: $heading;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  transition: color 0.15s ease-in-out;

  &:focus,
  &:hover {
    color: blue(5);
  }
}

.header-navigation__styled-list li {
  border-right: 2px solid gray(9);

  &:last-of-type {
    border-right: none;
  }
}
