.hero {
  @include container;
  display: grid;
  grid-gap: space(1);
  grid-template-columns: repeat(12, 1fr);
}


@include breakpoint (small down) {
  .hero__text {
    grid-column: span 12;
    order: 1;
  }

  .hero__image-wrapper {
    grid-column: span 12;
  }
}

@include breakpoint (small) {
  .hero__text,
  .hero__image-wrapper {
    grid-row: 1;
  }

  .hero__text {
    grid-column: 1 / span 4;
    z-index: 1;
  }

  .hero__image-wrapper {
    grid-column: 4 / span 9;
  }
}

