.hero {
  position: relative;

  @include container;
  @include grid;
}

  .hero__text {
    padding: space(1) 0;
  }

    .hero__h1 {
      color: gray(0);
      @include text-shadow;
    }

    .hero__copy {
      margin-bottom: space(1.5);

      color: gray(2);
    }


@include breakpoint (small down) {
  .hero__text {
    grid-column: span 12;
    order: 1;
  }

  .hero__image-wrapper {
    grid-column: span 12;
  }
}

@include breakpoint (small) {
  .hero {
    padding-top: space(12);
    padding-bottom: space(12);
  }

  .hero__text,
  .hero__image-wrapper {
    grid-row: 1;
  }

  .hero__text {
    grid-column: 1 / span 5;
  }

  .hero__image-wrapper {
    grid-column: 4 / span 9;
  }
}

