.section-heading-container {
  padding-top: space(3);
  padding-bottom: space(5);
}

.section-heading--light .section-heading__heading {
  color: gray(0);
}
.section-heading--light .section-heading__copy {
  color: gray(2)
}

.section-heading__heading,
.section-heading__copy {
  @include text-shadow;
}

.section-heading__heading {
  margin-bottom: space(1);
}
