@keyframes Gradient {
	0% {
		background-position: 0% 0%
	}
	100% {
		background-position: 200% 100%
	}
}

.button {
  display: inline-block;
  padding: 0.5em 1em;

  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}

.button--default {
  font-size: 1rem;
}

.button--primary {
  color: gray(0);

  background: linear-gradient(to right, blue(5) 0%, blue(8) 100%);
  background-size: 200% 200%;

  transition: transform 150ms ease-in-out;

  &:focus,
  &:hover {
    transform: scale(1.25);
    -webkit-animation: Gradient 500ms ease;
    -moz-animation: Gradient 500ms ease;
    animation: Gradient 500ms ease;
  }
}
