.input {
  display: block;
  min-height: space(4);
}

.input-button {
  @include button-base;
  @include button-default;
  @include button-theme('primary');

  width: 100%;

  border-radius: 0;
  border: none;
}

.input-text {
  position: relative;

  width: 100%;
  padding-left: space(0.5);

  font-size: 1rem;
}


.input-placeholder {
  position: absolute;
  top: 0;
  left: 5px;

  padding: space(0.5);

  pointer-events: none;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

@include breakpoint (medium) {
  .input-wrapper {
    width: 80%;
  }

  .input-button {
    width: 20%;
  }
}
