.input {
  display: block;
  min-height: space(4);

}

.input-text {
  position: relative;

  width: 100%;
}


.input-placeholder {
  position: absolute;
  top: 50%;
  left: space(1);

  transform: translateY(-50%);
}

.input-wrapper {
  position: relative;
}
