.input {
  display: block;
  min-height: space(4);

}

.input-text {
  position: relative;

  width: 100%;
}


.input-placeholder {
  position: absolute;
  top: 0;
  left: 5px;

  padding: space(0.5);

  pointer-events: none;
}

.input-wrapper {
  position: relative;
}
